@using HotelBlazer.Components.Models
@rendermode InteractiveServer

@code {
    private bool _isVisible = false;
    private DateTime _dayStart = DateTime.Now;
    private int _days;
    private string _name = "";
    private int _room;
    private BookingStatus _status;
    List<int> Rooms = new List<int> { 101, 102, 103, 104, 201, 301, 302 };

    [Parameter]
    public EventCallback<Person> OnAddPerson { get; set; }

    private void ToggleMenu()
    {
        _isVisible = !_isVisible;
    }

    private void AddPerson()
    {
        var newPerson = new Person(_dayStart, _days, _name, _room, _status);
        OnAddPerson.InvokeAsync(newPerson);
        ToggleMenu();
    }
}

<div>
    <button class="btn btn-primary" @onclick="ToggleMenu">Add Booking</button>

    @if (_isVisible)
    {
        <div class="popup-form">
            <h3>Add New Booking</h3>
            <div>
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" 
                       min="@(new DateTime(2020,01,01).ToString("yyyy-MM-dd"))"
                       @bind="(_dayStart)"
                       class="form-control" />
            </div>
            <div>
                <label for="days-number">Number of Days:</label>
                <input id="days-number" type="number" @bind="(_days)" />
            </div>
            <div>
                <label for="booking-name">Name:</label>
                <input type="text" id="booking-name" @bind="(_name)" />
            </div>
            <div>
                <label for="room-number">Room:</label>
                <select id="room-number" @bind="(_room)">
                    @foreach (var room in Rooms)
                    {
                        <option value="@room">@room</option>
                    }
                </select>
            </div>
            <div>
                <label for="booking-status">Status:</label>
                <select id="booking-status" @bind="(_status)">
                    <option value="@BookingStatus.confirmed">Confirmed</option>
                    <option value="@BookingStatus.checkedin">Checkedin</option>
                    <option value="@BookingStatus.checkedout">Checkedout</option>
                    <option value="@BookingStatus.bookingoffer">Booking offer</option>
                </select>
            </div>
            <button class="btn btn-success" @onclick="AddPerson">Submit</button>
        </div>
    }
</div>

<style>
    .popup-form {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
        border-radius: 5px;
        width: 300px;
    }

        .popup-form div {
            margin-bottom: 10px;
        }

        .popup-form input,
        .popup-form select {
            width: 100%;
        }
</style>
